>**기출문제 제5회**
>>**01 작업형 제1유형**

## 옵션 설정

In [20]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 다음 데이터에서 conventional 컬럼의 특수문자를 제거하고, IQR(3분위수-1분위수)를 구하시오. 
- 소수점 첫째 자리에서 반올림

In [21]:
# 코드
data1 = pd.read_csv('5_1_1.csv')
data1.head()

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
0,26.1,49,18.9,0.2,43.5,7.6,state,*,-0.04,2023-01-01
1,5.7,62,10.7,1.7,17.5,23.6,state,&,3.35,2023-01-02
2,18.9,81,13.2,3.2,27.6,8.1,state,*,2.48,2023-01-03
3,16.9,38,19.0,0.2,44.5,7.0,state,&,-0.74,2023-01-04
4,24.3,73,10.4,5.0,26.0,11.8,state,4,3.60,2023-01-05

In [22]:
# 영어, 숫자, 한국어를 제외한 모든 문자 제거 
# 정규표현식
data1.loc[:, 'conventional'] = data1.loc[:,'conventional'].str.replace(r'[^a-zA-Z0-9가-힣]', '', regex=True)
data1.head(1)

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
0,26.1,49,18.9,0.2,43.5,7.6,state,,-0.04,2023-01-01

In [30]:
# 코드
# 공백 처리, NoN으로 처리 => 데이터 타입을 변경, floot, int
data1.loc[:, 'conventional'] = data1.loc[:,'conventional'].replace('', np.nan)
data1.loc[:, 'conventional'] = data1.loc[:,'conventional'].astype(float)
data1

# IQR 계산
# quantile(), IQR 구하기
q1 = data1.loc[:, 'conventional'].quantile(0.25)  # 제1사분위수
q3 = data1.loc[:, 'conventional'].quantile(0.75)  # 제3사분위수
iqr = q3 - q1                            # IQR

print(iqr)

8.75

## 문제 2. 
- 위 데이터에서 흑인 또는 히스패닉 비율(minority) / 빈곤율(poverty) > 2이며, 도시 유형(city)이 state인 도시의 범죄율(crime) 평균을 구하시오. 
- 소수점 첫째 자리에서 반올림

In [33]:
data1.loc[:, ['minority', 'poverty']].head()

   minority  poverty
0      26.1     18.9
1       5.7     10.7
2      18.9     13.2
3      16.9     19.0
4      24.3     10.4

In [42]:
# 코드
# minority / poverty > 2 & city : state
result_df = data1.loc[(data1.loc[:, 'minority'] / data1.loc[:, 'poverty'] > 2) & (data1.loc[:, 'city'] == 'state'), :]

# crime 평균 계산
result_df.loc[:, 'crime'].mean()
round(result_df.loc[:, 'crime'].mean(), 1)

np.float64(61.2)

## 문제 3. 
- 다음 데이터에서 2016년 9월 이후, 온도(actual)의 평균을 구하시오. (소수점 첫째 자리에서 반올림)

In [48]:
# 코드 
# 2016년 9월 이후 데이터 필터링
data3 = pd.read_csv('5_1_2.csv')
filtered_data = data3.loc[(data3.loc[:, 'year'] == 2016) & (data3.loc[:, 'month'] >= 9)]

# 필터링된 데이터의 actual 평균 계산 및 반올림
actual_mean = round(filtered_data.loc[:, 'actual'].mean(), 0)

print(f'2016년 9월 이후 온도 평균: {actual_mean}')

2016년 9월 이후 온도 평균: 58.0

In [49]:
# 코드 
data3['date'] = pd.to_datetime(dict(year=data3['year'], month=data3['month'], day = data3['day']))
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     348 non-null    int64
 1   month    348 non-null    int64
 2   day      348 non-null    int64
 3   week     348 non-null    object
 4   temp_2   348 non-null    int64
 5   temp_1   348 non-null    int64
 6   average  348 non-null    float64
 7   actual   348 non-null    int64
 8   friend   348 non-null    int64
 9   date     348 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(7), object(1)
memory usage: 27.3+ KB

In [51]:
# date 컬럼을 datetime으로 변환 (이미 했다면 생략)
data3['date'] = pd.to_datetime(dict(year=data3['year'], month=data3['month'], day=data3['day']))

# 인덱스 설정
data4 = data3.copy()
data4.set_index('date', inplace=True)

# 컬럼명 실제 확인
print(data4.columns)

# 2016-09-01 이후의 'actual' 값 평균 구하기 (컬럼명 맞게 수정)
filtered = data4.loc['2016-09-01':, 'actual']
result = filtered.mean()
print(result)

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'friend'],
      dtype='object')
57.773109243697476